.slider {
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
}

.slider_lighted::before, .slider_lighted::after{
  color: var(--greyM)
}
.slider_selected::before, .slider_selected::after{
  color: var(--vividM)
}
.slider[type='range'] {
  -webkit-appearance: none !important;
  cursor: pointer;
  background: transparent;
}
.slider[type='range']::-webkit-slider-thumb {
  padding: 0;
  margin: 0;
  -webkit-appearance: none !important;
  position: relative;
  outline: none;
  box-shadow: calc(var(--col) * -20.125) 0 0 calc(var(--col) * 20) var(--grey5);
  background: var(--grey5);
  height: 100%;
  width: calc(var(--col) * .25);
  border-radius: calc(var(--col) * .5);
}



.slider[type='range']::-webkit-slider-runnable-track {
  -webkit-appearance: none !important;
  background-color: var(--black);
  border-radius: calc(var(--col) * .5);
  height: calc(var(--col) * .25);
  overflow: hidden;

}

.slider_lighted[type='range']::-webkit-slider-thumb {
  box-shadow:calc(var(--col) * -20.125) 0 0 calc(var(--col) * 20) var(--greyM);
  background: var(--greyM);
}

.slider_selected[type='range']::-webkit-slider-thumb {
  box-shadow:calc(var(--col) * -20.125) 0 0 calc(var(--col) * 20) var(--vividM);
  background: var(--vividM);

}

.slider_disabled {

}

.slider:focus{
  outline: none;
}
