.screen {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr calc(var(--col) * 2);
  grid-row-gap: var(--col);
  grid-column-gap: var(--col);
  min-height: 0;
  color: var(--grey5)

}
.screen__list {
  font-family: 'DotGothic16';
  background-color: var(--black);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  flex: 1 1 auto;
  grid-column: 1 / 4;
  border-radius: var(--border-radius);
}

.screen__empty, .screen__screensaver {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


.screen__upload {
  display: none;
}


.screen__item {
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: calc(var(--col) * 2.5);
  padding: 0 var(--col);
}

.screen__item.selected {
  color: var(--vividM);
}
